{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <div>
        {% if message %}
         <p>{{message}}</p> 
        {% endif %}
    </div>
    <form method="POST">
        <input type="text" class="border border-gray-300 w-full rounded-lg shadow-sm focus:border-rose-500 focus:ring-rose-500" placeholder="Task title">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>