{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
    <body>
        <div class="max-w-[1400px] mx-auto py-20">
                <div>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="px-2 py-1 {% if message.tag == 'success' %}text-green-500{% endif %}">{{message}}</p>
                        {% endfor %} 
                    {% endif %}
                </div>
                <div class="space-y-2">
                    <form method="POST">
                        {% csrf_token %}
                        {{task_form.as_p}}
                        {{task_detail_form.as_p}}
                        <button type="submit" class="bg-red-500 px-4 py-2 rounded-lg text-white font-semibold">Submit</button>
                    </form>
                </div>
        </div>
        
    </body>
</html>