{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Management</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
   <div>
      {% comment %} <ul>
            {% for task in tasks %}
               <li>
                 {{task.status}}
               </li>
            {% endfor %}
      </ul>
    </div>
    <div>
        <ul>
              {{task_3}}
        </ul>
      </div> {% endcomment %}
    <div>
        {% for tasks in taskFilter %}
           <li>
              Status - {{tasks.status}}
           </li>        
        {% endfor %}        
    </div>
    <div>
        {% for Tasks in Task_priority %}
           
              <p>{{Tasks.task}}</p>
              <p>{{Tasks.priority}}</p>
                  
        {% endfor %}        
    </div>

    <div>
        {{due_date_Filter}}       
    </div>
  </body>
</html>
