{% extends "admin/dashboard.html" %}
{% block content %}
    <div>
        <div class="w-1/2 mx-auto mt-20">
            {% for message in messages %}
                <li class="bg-green-400 text-white font-medium">{{message}}</li>
            {% endfor %}
            <form class="w-1/2 mx-auto space-y-4" method='POST'>
                {% csrf_token %}
                {{form}}
                <button type="submit" class='py-2 bg-red-400 rounded shadow-lg w-full'>Create Group</button>
            </form>
        </div>
    </div>
{% endblock content %}