{% extends "base.html" %}
{% block content %}
<div class="max-w-[1400px] mx-auto p-8">
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
        <a href="{% url "manager-dashboard" %}?type=all">
            <div class="flex justify-between items-center gap-8 drop-shadow-lg  flex-1 p-8 bg-white rounded-lg">
                <div class="space-y-2">
                    <p class="text-gray-400 text-sm font-medium">TOTAL TASK</p>
                    <p class="text-2xl font-bold">{{counts.total}}</p>
                    <p class="text-gray-400 text-sm font-medium">11 last month</p>
                </div>
                <div>
                    <button class="bg-[#DDEAFD] p-2 flex items-center justify-center rounded-full hover:bg-[#B9CDEB]">                        
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="size-6 font-bold text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                          </svg>                          
                    </button>
                </div>
            </div>
        </a>
        
        <!-- card 2  -->
        <a href="{% url "manager-dashboard" %}?type=completed">
            <div class="flex justify-between items-center gap-8 drop-shadow-lg  flex-1 p-8 bg-white rounded-lg">
                <div class="space-y-2">
                    <p class="text-gray-400 text-sm font-medium">COMPLETED TASK</p>
                    <p class="text-2xl font-bold">{{counts.completed}}</p>
                    <p class="text-gray-400 text-sm font-medium">11 last month</p>
                </div>
                <div>
                    <button class="bg-[#DDFBE7] p-2 flex items-center justify-center rounded-full hover:bg-[#a2deb6]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1.5" stroke="currentColor"
                            class="size-6 font-bold text-green-600">
                            <path stroke-linecap="round" stroke-width="2" stroke-linejoin="round"
                                d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </a>       

        <!-- CARD 3 -->
        <a href="{% url "manager-dashboard" %}?type=in_progress">
            <div class="flex justify-between items-center gap-8 drop-shadow-lg  flex-1 p-8 bg-white rounded-lg">
                <div class="space-y-2">
                    <p class="text-gray-400 text-sm font-medium">TASK IN Pending</p>
                    <p class="text-2xl font-bold">{{counts.in_progress}}</p>
                    <p class="text-gray-400 text-sm font-medium">11 last month</p>
                </div>
                <div>
                    <button class="bg-[#FBF9C1] p-2 flex items-center justify-center rounded-full hover:bg-[#f2ef96]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-width="1.5" stroke="currentColor"
                            class="size-6 font-bold text-yellow-500">
                            <path stroke-linecap="round" stroke-width="2" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </a>
        
        <!-- card 4  -->
        <a href="{% url "manager-dashboard" %}?type=pending">
            <div class="flex justify-between items-center gap-8 drop-shadow-lg  flex-1 p-8 bg-white rounded-lg">
                <div class="space-y-2">
                    <p class="text-gray-400 text-sm font-medium">TODOS</p>
                    <p class="text-2xl font-bold">{{counts.pending}}</p>
                    <p class="text-gray-400 text-sm font-medium">11 last month</p>
                </div>
                <div>
                    <button class="bg-[#DDEAFD] p-2 flex items-center justify-center rounded-full hover:bg-[#B9CDEB]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6 font-bold text-blue-500">
                            <path stroke-linecap="round" stroke-width="2" stroke-linejoin="round"
                                d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                        </svg>
                    </button>
                </div>
            </div>
        </a>       
    </section>
    <div>
        {% if messages %}
            {% for message in messages %}
                <p class="px-2 py-1 {% if message.tag == 'success' %}text-green-500{% endif %}">{{message}}</p>
            {% endfor %} 
        {% endif %}
    </div>
    {% block tasks %}{% endblock tasks %}
</div>
{% endblock content %}