      {% extends "dashboard/dashboard.html" %} 
      {% block title %}Manager Dashboard{% endblock title %}

      {% block tasks %}
      <section>
        <div class="overflow-x-auto flex-1 bg-white rounded-lg mt-20">
          <table class="min-w-full border-collapse overflow-hidden">
            <h2 class="text-2xl font-bold text-black p-5">All Tasks</h2>
            <thead>
              <tr class="">
                <th
                  class="px-4 py-2 text-md text-left text-gray-600 font-semibold uppercase"
                >
                  Task Title
                </th>
                <th class="px-4 py-2 text-left text-gray-600 font-semibold uppercase">
                  Priority
                </th>
                <th class="px-4 py-2 text-left text-gray-600 font-semibold uppercase">
                  Team
                </th>
                <th class="px-4 py-2 text-left text-gray-600 font-semibold uppercase">
                  Created At
                </th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              <tr class="border-t">
                <td class="px-4 py-2">
                <div class=" flex justify-between">
                  <div class="flex items-center gap-3 text-left">
                    <span class="w-2 h-2 rounded-full bg-blue-500"></span>
                    <a href='{% url "task-details" task.id %}' class="">{{task.title}}</a>
                  </div> 
                <div class="flex items-center gap-2">
                  <div>
                    <a href="{% url "update-task" task.id %}" class="px-2 py-1 rounded-md bg-green-500 text-white">Edit</a>
                  </div>
                  <div>
                    <form action="{% url "delete-task" task.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="px-2 py-1 rounded-md bg-red-500 text-white">Delete</button>
                    </form>
                  </div>
                  
                </div>  
                </div>        
                </td>
                <td class="px-4 py-2">
                  <span
                    class="px-2 py-1 text-sm font-medium bg-blue-100 text-blue-800 rounded"
                    >{{task.details.get_priority_display}}</span
                  >
                </td>
                <td class="px-4 py-2">
                  <div class="flex -space-x-3">
                    {% for emp in task.assigned_to.all %}
                      <span
                      class="p-1 text-sm font-medium bg-red-400 text-white rounded-full uppercase border-2 border-gray-300"
                      >{{emp.name|slice:':2'}}</span>
                    {% endfor %}
                  </div>
                </td>
                <td class="px-4 py-2">{{task.created_at|timesince}} ago</td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </section>
      {% endblock tasks %}
