    {% extends "base.html" %}
    {% block content %}
    <h1 class='text-center mt-16 text-3xl font-bold'>Welcome</h1>
    {% comment %} {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            {{error}}
        {% endfor %}
    {% endif %} {% endcomment %}
    <section class='w-1/2 mx-auto my-20'>
        <form class='space-y-2' action="" method='POST'>
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>
            {% endfor %}
            <button class="submit w-full bg-red-400 py-2 font-medium text-white rounded">Sign Up</button>
        </form>
    </section>
    {% endblock content %}